.dark-theme {
    background-color: #333;
    color: #fff;
    /* Дополнительные стили для темной темы */
}

/* Стили для светлой темы */
.light-theme {
    background-color: #fff;
    color: #333;
    /* Дополнительные стили для светлой темы */
}